
h1 {
  font-size: 48px;
  margin-bottom: 1px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 1px;
  font-size: 32px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 1px;
  font-size: 24px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

h5 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
}

h6 {
  margin-top: 40px;
  font-size: 14px;
}

p {
    margin-top: 0.75em;
    margin-bottom: 0em;
}

ul {
    margin-top: 0.5em;
}

li {
    margin-top: 0.5em;
}

/* Remove the gap between a paragraph and a list that follows it */
div.el-p + div.el-ul > ul,
div.el-p + div.el-ol > ol {
    margin-top: -15px;
}

table {
  margin-top: 20px;
}

.admonition {
    margin-top: 20px;
}

.wy-nav-content {
     max-width: 1024px; /* or any other value you prefer */
}
   
.rst-content code {
    color: #0000aa;
    font-size: 16px;
    font-family: "TerminusRe";
    font-weight: 600;
}

.rst-content pre code {
    color: #000;
    background: #f8f8f8;
    font-size: 16px;
    font-family: "TerminusRe";
    font-weight:550;
    margin-top: 10px;
    line-height: 1.2;
}

@font-face {
  font-family: TerminusRe;
  src: url(font/TerminusRe33-Bold.ttf);
}
